<% provide(:title, "Reset password") %>
<h1>Reset Password</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "input-large" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "input-large" %>

      <%= f.submit "Update Password", class: "btn" %>
    <% end %>
  </div>
</div>

